<h3>Search</h3>
  <%= form_tag(movies_path, method: "get") do %>
<div> 
  <%= label_tag(:keyword) %><br>
  <%= text_field_tag(:keyword, nil, maxlength: 234) %>
</div>
<div>
<%= label_tag(:minimum_runtime) %><br>
<%= number_field_tag(:minimum_runtime, nil, in: 0..43200) %> minutes
<br>
</div>
<div>
<%= label_tag(:maximum_runtime) %><br>
<%= number_field_tag(:maximum_runtime, nil, in: 1..43200) %> minutes
</div>
<div>
<%= submit_tag "Search" %>
</div>
<% end %>
